.ag-header-cell-text {
  font-weight: 800 !important;
  color: rgb(77, 77, 77) !important;
  margin-left: 5%;
}

.ag-number {
  text-align: right;
}

.centered-content {
  text-align: center;
}

.left-aligned-content {
  text-align: left;
}

.right-aligned-content {
  text-align: right;
}

.ag-header-cell-label {
  justify-content: center;
}

.ag-theme-material .multiline .ag-header-cell-label .ag-header-cell-text {
  text-overflow: clip;
  overflow: visible !important;
  word-wrap: break-word;
  white-space: normal;
  height: auto;
}

.ag-header-cell-label .ag-header-cell-text {
  white-space: normal !important;
  word-wrap: break-word;
  margin-top: 10px;
}

.ag-theme-material .ag-header-cell,
.ag-theme-material .ag-header-group-cell {
  line-height: inherit !important;
  word-wrap: break-word;
}
